<!--
  Generated template for the InicioClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar color= "dark" >

         <!-- <img  *ngIf="foto!=null" [src]="foto" width="40px" style="" height="40px" align="right" (click)="modificarDatos()" />-->
         <img  [src]="foto === null ? 'assets/img/perfildefaul.jpg' : foto" width="40px" style="" height="40px" align="right" (click)="modificarDatos()" />
          <ion-title>
            <button ion-button (click)="logout()" class="logOut">
                <ion-icon name="log-out"></ion-icon>
              </button>
              Bienvenido {{nombre}} 
        </ion-title>
      </ion-navbar>

  <ion-list block >
      
      <ion-item class="filtro">
        <ion-label color="primary" >Filtro:</ion-label>
        <ion-select  interface="alert" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="mostrar" (ionChange)="filtrarViajes()" >
          <ion-option value="todos">Todos</ion-option>
          <ion-option value="enCurso" >En curso</ion-option>
          <ion-option value="finalizados" >Finalizados</ion-option>
          <ion-option value="cancelados">Cancelados</ion-option>
        </ion-select>
      </ion-item>
 
      
    </ion-list>
</ion-header>


<ion-content padding class="inicio-cliente-content">
  <button class="titulo" (click)="datosChofer()" ion-button round icon-left color="secondary" block large>
    <ion-icon name="car"></ion-icon>Datos chofer</button>
  <br>
  <button class="titulo" (click)="pedirViaje()" ion-button round icon-left color="secondary" block large>
    <ion-icon name="globe"></ion-icon>{{ 'PEDIR_VIAJE_BUTTON' | translate }}</button>
    <br>
    <ion-card (click)="mostrarViajeConMapa(item)" padding *ngFor="let item of listaViajes" [ngClass]="item.activo==0? 'disabled' : 'enabled' ">
        
        
                <ion-item>
         
                  <h2 style="color: #1420c9;">Cliente: {{ item.nombreCliente }}</h2>
                  <h2 style="color: #1420c9;">Duración: {{item.duracionViajeText}}</h2>
                  <p style="color: #1420c9;">Distancia: {{ item.distanciaText }}</p>
                </ion-item>
            
                <ion-card-content>
                  <p style="margin-top: 10px !important">Chofer asignado:
                    <b>{{(item.correoChofer == "" ? 'Sin asignar' : item.correoChofer)}} </b>
                  </p>
                  <p>Estado del viaje:
                    <b> {{ (item.estado == 0 ? 'Pendiente' : (item.estado == 1 ? 'En curso' : (item.estado == 2 ? 'Finalizado' : (item.estado == 3 ? 'Cancelado por cliente' : 'Cancelado por la empresa' ) ) ) ) }}</b>
                  </p>
                  <p>Origen:
                    <b>{{item.origen}}</b>
                  </p>
                  <p>Destino:
                    <b>{{item.destino}}</b>
                  </p>
                  <p>Salida:
                    <b>{{ item.fechaSalidaString }}</b>
                  </p>
                  <p>Pedido:
                    <b>{{ item.fechaRegistroString }}</b>
                  </p>
        
                  <p *ngIf="item.estado == 2">Monto:
                    <b>$ {{ item.monto }}</b>
                  </p>
        
                </ion-card-content>
            
              </ion-card>
              <ion-fab left bottom #fab4>
                  <button ion-fab color="dark" mini><ion-icon name="help"></ion-icon></button>
                  <ion-fab-list side="top">
                    <ion-fab #fab4>
                      <button ion-fab mini color="dark"><ion-icon name="document"></ion-icon></button>
                      <ion-fab-list side="right">
                          <button ion-fab (click)="goLinkApidoc()"><ion-icon name="clipboard"></ion-icon></button>
                          <button ion-fab (click)="goLinkCompoDoc()"><ion-icon name="folder-open"></ion-icon></button>
                      </ion-fab-list>
                    </ion-fab>
                    <button ion-fab><ion-icon name="clear"></ion-icon></button>
                    <button ion-fab (click)="goMostrar()"><ion-icon name="images"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
</ion-content>