page-inicio-cliente {
    .inicio-cliente-content {
        //background-color: rgba(0, 0, 0, 0.89)!important;
        background: url('../assets/img/bg/6.jpg')!important;
        height: 100%!important;
        width: 100%!important;
        color: white!important;
        display: block;
        //object-fit: fill;
}

.transparent-body {
    background: none transparent !important;
    opacity: 0 !important;
  }
}
