
page-login {
    
  background-color: unset;
  /*.contenidoLogin {
    position: relative;
    background-color: #14830a;
    //background: url('../assets/img/bg/abg_1.gif') no-repeat transparent; // background: url('../assets/img/bg/1.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    // animation: ani 20s linear infinite alternate-reverse;
    background-position: center;
    margin-left: 0px;
    overflow: hidden;
  }*/

  .img{
    width: 50%;
    //margin-left: 30%         
  }
  ion-item {
    width: 100%;
    height: 100%;
    background: #0e5808 ;
    border-radius: 30px ;
    padding-left: 10px ;
    font-size: 0.9em;
    margin-bottom: 10px ;
    border: 1px solid #ffffff;
    border-bottom: 1px ;
    box-shadow: none ;
  }
  ion-content {
    //background-color: #14830a;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
    -webkit-align-content: stretch ;
    -webkit-align-items: center ;
    -webkit-box-align: center ;
    -webkit-box-direction: normal ;
    -webkit-box-orient: horizontal ;
    -webkit-box-pack: center ;
    -webkit-flex-direction: row ;
    -webkit-flex-wrap: nowrap ;
    -webkit-justify-content: center ;
    align-content: stretch ;
    align-items: center ;
    display: -webkit-box ;
    display: -webkit-flex ;
    display: flex ;
    flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: center ;
    text-align: center ;
  }
  .imgIcon{
    font-size: 30px;
  }
  .submit-btn{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 35px;
    //background: #51CFB1;
    //border-radius: 30px;
    border: 1px solid #ffffff;
  }

  .tag-input {
    border-radius: 30px;
  }
}
