<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ 'CHOFER_PANEL_TITLE' | translate }}</ion-title>
    <ion-buttons end>
        <button ion-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <button class="titulo" (click)="irAbmAdmin()" ion-button round icon-left color="primary" block large>
    <ion-icon name="people"></ion-icon>{{ 'ABM_ADMINS_BUTTON' | translate }}</button>
  <br> -->
  <img src="assets/img/icon.png" alt="" class="img">
  <button *ngIf="chofer.estado==0" class="submit-btn" (click)="irEmpezarATrabajar()" ion-button round icon-left color="secondary"
    block large>
    <ion-icon name="car"></ion-icon>{{ 'CHOFER_INGRESO_BUTTON' | translate }}</button>

  <br>

  <button *ngIf="chofer.respondioEncuesta==false" class="submit-btn" (click)="irEncuestaChofer()" ion-button round icon-left color="primary" block large>
    <ion-icon name="clipboard"></ion-icon>{{ 'CHOFER_ENCUESTA_BUTTON' | translate }}</button>

  <br>

  <button *ngIf="chofer.estado!=0" class="submit-btn" (click)="irVisorViajesParaChofer()" ion-button round icon-left color="secondary" block large>
    <ion-icon name="car"></ion-icon>{{ 'CHOFER_VIAJES_BUTTON' | translate }}</button>

  <br>

  <button *ngIf="chofer.estado==1" class="submit-btn" (click)="irCerrarSesion()" ion-button round icon-left color="danger" block large>
    <ion-icon name="log-out"></ion-icon>{{ 'CHOFER_LOGOUT_BUTTON' | translate }}</button>
  <ion-fab left bottom #fab4>
      <button ion-fab color="dark" mini><ion-icon name="help"></ion-icon></button>
      <ion-fab-list side="top">
        <ion-fab #fab4>
          <button ion-fab mini color="dark"><ion-icon name="document"></ion-icon></button>
          <ion-fab-list side="right">
              <button ion-fab (click)="goLinkApidoc()"><ion-icon name="clipboard"></ion-icon></button>
              <button ion-fab (click)="goLinkCompoDoc()"><ion-icon name="folder-open"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
        <button ion-fab><ion-icon name="clear"></ion-icon></button>
        <button ion-fab (click)="goMostrar()"><ion-icon name="images"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
</ion-content>