<div class="contenedor-global">

  <ion-header>

    <ion-navbar color="dark">
      <ion-title>{{ (modoAlta == true? 'NEW_DRIVER_TITLE' : 'MODIF_DRIVER_TITLE') | translate }}</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content>

    <ion-row>
      <ion-col text-center>
        <ion-item>
          <!-- <ion-label class="titulo" floating>Nombre</ion-label> -->
          <ion-input placeholder="Nombre" class="titulo" [(ngModel)]="chofer.nombre" type="text" (keyup)="onKeyUpLetter($event,'nombre')"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          <!-- <ion-label class="titulo" floating>Apellido</ion-label> -->
          <ion-input placeholder="Apellido" class="titulo" [(ngModel)]="chofer.apellido" type="text" (keyup)="onKeyUpLetter($event,'apellido')"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <!-- <ion-label class="titulo" floating>Email</ion-label> -->
      <ion-input placeholder="Email" [(ngModel)]="chofer.correo" class="titulo" type="email" ></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label class="titulo" floating>Clave</ion-label> -->
      <ion-input placeholder="Contraseña" [(ngModel)]="clave1" class="titulo" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label class="titulo" floating>Clave</ion-label> -->
      <ion-input placeholder="Repita la contraseña" [(ngModel)]="clave2" class="titulo" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label class="titulo" floating>Clave</ion-label> -->
      <ion-input placeholder="Número de DNI" [(ngModel)]="chofer.dni" class="titulo" type="number" (keyup)="onKeyUpNumber($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          <button small ion-button color="primary" (click)="tomarFoto()" class="submit-btn">
            <ion-icon name="camera"></ion-icon>&nbsp;Cámara</button>
        </ion-col>
        <ion-col>
          <div (click)="verImagen()" class="marco-imagen">
            <img class="marco-imagen" [src]="chofer.foto === undefined ? 'assets/img/img-usuario.svg' : chofer.foto">
          </div>
        </ion-col>
        <ion-col>
          <button small ion-button color="primary" (click)="cargarFoto()" class="submit-btn">
            <ion-icon name="add"></ion-icon>&nbsp;Librería</button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-list [(ngModel)]="chofer.sexo" class="titulo" radio-group>
      <!-- <ion-list-header>
        Sexo
      </ion-list-header> -->

      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label style="color: white!important;">Masculino</ion-label>
            <ion-radio checked="true" value="m"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col text-center>
          <ion-item>
            <ion-label style="color: white!important;">Femenino</ion-label>
            <ion-radio value="f"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- <ion-item> -->
      <!-- <ion-label class="titulo" floating>Clave</ion-label> -->
      <!-- <ion-input placeholder="Fecha de nacimiento" [(ngModel)]="chofer.fechaNacimiento" class="titulo" type="date"></ion-input> -->
    <!-- </ion-item> -->
    <!-- <ion-item>
    <ion-datetime type="datetime-local"  id="fechaSalida" [pickerOptions]="customOptions" class="picker" max="2000-06-29" displayFormat="DDDD DD de MMMM de YYYY"
           pickerFormat="DD MMMM YYYY" [(ngModel)]="chofer.fechaNacimiento" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          cancelText="Cancelar" doneText="Aceptar" placeholder="Fecha de salida" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
          dayNames="Domingo, Lunes, Martes, Miercoles, Jueves, Viernes, Sábado" dayShortNames="Dom, Lun, Mar, Mie, Jue, Vie, Sáb">
        </ion-datetime>
    </ion-item> -->
    <ion-item>
        <!-- [compareWith]="compareFn" -->
      <ion-label>Patente: {{chofer.patente}}</ion-label>
      <ion-select [(ngModel)]="chofer.patente" cancelText="Cancelar" okText="Aceptar">
        <ion-option *ngFor="let item of vehiculos" [value]="item.patente">{{item.patente}} ({{item.modelo}})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="titulo">Habilitado</ion-label>
      <ion-checkbox class="titulo" [(ngModel)]="habilitado"></ion-checkbox>
    </ion-item>

  </ion-content>

  <ion-footer>
    <ion-navbar color="dark">
      <ion-buttons>
        <button large ion-button color="danger" (click)="closeModal()">Cancelar</button>
      </ion-buttons>
      <ion-buttons end>
        <button *ngIf="validos===true" large ion-button color="secondary" (click)="accionAceptar()">Aceptar</button>
      </ion-buttons>
    </ion-navbar>
  </ion-footer>

</div>