
page-pages-modal {
    .modal-content {
        //background-color: rgba(0, 0, 0, 1)!important;
        //background: url('../assets/img/bg/5.jpg')!important;
        background-color: #14830a;
        height: 100%!important;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: xx-large;
    }
    
    h2 {
        //background-color: #ffd000 !important;
        color: #ffffff;
        border-radius: 15px;
        margin-bottom: 0px !important;
    }

    .graphic {
        color:white;
        width: 110% !important;
        height: 110% !important;
        padding-top: 0px;
        margin-right: 15px !important;
        padding-bottom: 0px;
    }
    
    /*ion-content {
        height: 100%;
        background-color: bisque;
        background: slategray;
    }*/
    table {
        font:13px/120% Verdana, Arial, Helvetica, sans-serif;
        color:#ffffff;
        width: 100%;
        
    }
    .mesa{
        margin-top: 20%;
        width: 100%;
        color: #ffffff;
        //height: 40%;
        background-color: #23c515;
        padding: 20px;
        border-radius: 30px;
    }
    .barrasv {
        width:2.5em;
        text-shadow:#CCCCCC 0.1em 0.1em 0.1em;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        box-shadow:1px 1px 1px black;
        -webkit-box-shadow:1px 1px 1px black;
        -moz-box-shadow:1px 1px 1px black;
        margin-bottom:1px;
    }
    .verticalmente {
        position:relative; 
        transform:rotate(-90deg);
        //-o-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        //-moz-transform:rotate(-90deg);
        //-ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        //filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        //writing-mode:tb-rl;
        filter:flipv fliph;
        margin:0 -1em;
    }
    #etiq td {
        height:7em;
        width:3em;
        font-weight:bold;
    }
    .bordetd {
        border-top: 1px solid #777777;
        border-bottom: 1px solid #777777;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding-top:1px;
        padding-bottom:1px;
    }

    .filtro{
        text-align: start !important;
        border-radius: 0px !important;
    }

    ion-item{
        text-align: center !important;
        border-radius: 30px ;
        background-color: #ffd000;
        margin-bottom: 0px !important;
    }
}


