visor-viajes {
    .visor-viajes-content {
        background-color: inherit;
        //background-color: rgba(0, 0, 0, 0.89);
        //background: url('../assets/img/bg/4.jpg');
        height: 100%;
        width: 100%;
        color: inherit;
        display: block;
        //object-fit: fill;
    }
    
    .enabled {
        background-color: rgb(79, 110, 117);
    }

    .disabled {
        background-color: gray;
    }
    .submit-btn{
        /*margin-top: 15px;
        margin-bottom: 0px;*/
        background: inherit;
        border-radius: 30px;
        border: 1px solid #ffffff;
    }
    ion-card{
        border-radius: 10px;
        background-color: inherit;
    }
    ion-item{
        text-align: center ;
        border-radius: 30px ;
        background-color: inherit;
        margin-bottom: 0px ;
    }
    .filtro{
        text-align: start ;
        border-radius: 0px ;
    }
}
