abm-choferes {
    .abm-choferes-content-a {
        //background-color: rgba(0, 0, 0, 0.89);
        //background: url('../assets/img/bg/4.jpg');
        //background: #14830a;
        height: 100%;
        width: 100%;
        //color: rgb(255, 255, 255);
        display: block;
        //object-fit: fill;
    }

    .enabled {
        background-color: #0ed478;
    }

    .disabled {
        background-color: #0f8d52;
    }

    ion-card {
        border-radius: 10px;
        //background-color: #0ed478;
    }

    ion-item {
        border-radius: 30px;
        //background-color: #ffd000;
    }
}
