page-pages-modal-votacion {
    .voto-content {
        //background-color: rgba(0, 0, 0, 0.89);
        background: url('../assets/img/bg/4.jpg');
        height: 100%;
        width: 100%;
        color: white;
        display: block;
        //object-fit: fill;
    }
    
    .boton {
        height: 200px;
        width: 200px;
        //float: top;
        //background-size: contain;
        //object-fit: fill;
    }

    .matafuego {
        background: url('../assets/img/1.png');
        background-repeat: no-repeat;
        background-position: center;
        //object-fit: cover;
        background-size: contain;
    }

    .planta {
        background: url('../assets/img/2.png');
        background-repeat: no-repeat;
        background-position: center;
        //object-fit: cover;
        background-size: contain;
    }

    ion-content {
        height: 100%;
        background-color: bisque;
        background: slategray;
    }

    .rotulo {
        text-align: center;
        margin-bottom: 0px;
        font-size: xx-large;
        font-family: cursive;
    }
}
