<ion-header>

  <ion-navbar theme-header>
    <ion-title>Custom</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>Opción 1</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Opción 2</ion-label>
        <ion-select formControlName="option2" [(ngModel)]="myBgColor" (ionChange)="test($event)">
          <ion-option value="primary" checked="true">A</ion-option>
          <ion-option value="secondary">B</ion-option>
          <ion-option value="dark">C</ion-option>
          <ion-option value="light">D</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fuente</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="Courier New" checked="true">Courier New</ion-option>
          <ion-option value="Verdana">Verdana</ion-option>
          <ion-option value="Shrikhand">Shrikhand</ion-option>
        </ion-select>
      </ion-item>

      <button theme-botons ion-item [navPush]="subSettings" [navParams]="profileSettings" [style.background-color]="myBgColor">
        Más opciones
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>Opción 4</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>