ver-imagen {
    ion-content {
        
        background: rgb(0, 0, 0);
    }

    .contenedor-global {
        background-attachment: scroll;
        width: 100%;
        //background-repeat: no-repeat;
        height: 100%;
    }

    .imagen {
        background-attachment: scroll;
        background-size: contain;
        background-repeat: no-repeat;
        height: auto;
        width: auto;
    }
}
