.theme-custom {
    font-family: Arial, Helvetica, sans-serif;
    // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content 
    //transition: all 1.1s ease;
    background-color: unset;
    p,
    .toolbar-title,
    .bar-button-default,
    body,
    div {
      //transition: all 1.1s ease;
      color: unset;
    }
    .onboard {
      border-color: unset;
    }
    .toolbar-background,
    .toggle-checked {
      //transition: all 1.1s ease;
      background-color: unset;
      background-image: unset;
    }

    //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more

    //ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    //.contenido-viajes,
    ion-footer,
    ion-item,
    ion-label {
      //transition: all 1.1s ease;
      background-color: unset;
      background: unset;
      color: unset;
    }

    #fechaSalida {
      background-color: unset;
      color: unset;
    }

    ion-list {
      background-color: unset;
    }
    .time {
      background-color: unset;
    }
    .item {
      transition: all 1s ease;
      background-color: unset;
      color: unset;
    }
    
    ion-button, .submit-btn, .boton-menu {
      background-color: unset;
      color: unset;
      border-radius: unset;
      box-shadow: unset;
    }
    
    .enabled {
      background-color: unset;
    }

    .disabled {
      background-color: unset;
    }

    .item-cover {
      //background-color: #ffffff ;
      color: unset;
      border-radius: unset;
      margin: 5px;
    }

    .boton, {
      background-color: unset;
      color: unset;
      border-radius: unset;
    }

    .contenido {
      background-image: unset;
      background-position: top;
      height: 100%;
      background-size: cover;
    }

    ion-content, .contenido-viajes {
      //transition: all 1.1s ease;
      background-color: unset;
      //background-image: url('../assets/imgs/bg/n2.jpg') ;
      color:unset;
    }
}
