.theme-naif {
    font-family: 'Shrikhand', cursive;
    // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content 
    transition: all 1.1s ease;
    background-color: #a80b00;
    p,
    .toolbar-title,
    .bar-button-default,
    body,
    div {
      transition: all 1.1s ease;
      color: white;
    }
    .onboard {
      border-color: #f44336 ;
    }
    .toolbar-background,
    .toggle-checked {
      transition: all 1.1s ease;
      background-color: #dd4f17 ;
      background-image: url('/assets/imgs/BG/n2.jpg') ;
    }

    //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more

    //ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    //.contenido-viajes,
    ion-footer,
    ion-item,
    ion-label {
      transition: all 1.1s ease;
      background-color: #f44336 ;
      background: #f49236 ;
      color: white ;
    }

    #fechaSalida {
      background-color: #f44336 ;
      color: white ;
    }

    ion-list {
      background-color: #f44336;
    }
    .time {
      background-color: white;
    }
    .item {
      transition: all 1s ease;
      background-color: #f44336;
      color: white;
    }
    
    ion-button, .submit-btn, .boton-menu {
      background-color: rgb(120, 58, 145) ;
      color: white ;
      border-radius: 30px ;
      box-shadow: 0 0 0 0 transparent ;
    }
    
    .enabled {
      background-color: #e6862c;
    }

    .disabled {
      background-color: #5c4322;
    }

    .item-cover {
      //background-color: #ffffff ;
      color: rgb(0, 0, 0) ;
      border-radius: 15px;
      margin: 5px;
    }

    .boton, {
      background-color: #c56fb2 ;
      color: rgb(255, 255, 255) ;
      border-radius: 15px;
    }

    .contenido {
      background-image: url('/assets/imgs/BG/n1.jpg') ;
      background-position: top;
      height: 100%;
      background-size: cover ;
    }

    ion-content, .contenido-viajes {
      transition: all 1.1s ease;
      background-color: #bb5b2f ;
      //background-image: url('../assets/imgs/bg/n2.jpg') ;
      color: white ;
    }
}