page-abm-clientes {
    .abm-clientes-content {
        //background: #14830a;
        //background-color: rgba(0, 0, 0, 0.89);
        /*background: url('../assets/img/bg/4.jpg');
        height: 100%;
        width: 100%;
        color: rgb(255, 255, 255);
        display: block;*/
        //object-fit: fill;
    }

    .enabled {
        background-color: #0ed478;
    }

    .disabled {
        background-color: #0b9052;
    }

    .botonMedio
    {
    //    width: 50%;
    }
    .submit-btn{
        margin-top: 10px;
        margin-bottom: 0px;
        width: 100%;
        height: 40px;
        background: #51CFB1;
        border-radius: 30px ;
        border: 1px solid #ffffff;
      }
    ion-card{
        border-radius: 10px ;
        background-color: #0ed478;
    }
    ion-item{
        border-radius: 30px ;
        background-color: #ffd000 ;
    }
    .filtro{
        text-align: start ;
        border-radius: 0px ;
    }
}
