page-abm-clientes {
    .abm-clientes-content {
        background: #14830a!important;
        //background-color: rgba(0, 0, 0, 0.89)!important;
        /*background: url('../assets/img/bg/4.jpg')!important;
        height: 100%!important;
        width: 100%!important;
        color: rgb(255, 255, 255)!important;
        display: block;*/
        //object-fit: fill;
    }

    .enabled {
        background-color: white;
    }

    .disabled {
        background-color: gray;
    }

    .botonMedio
    {
    //    width: 50%!important;
    }
    .submit-btn{
        margin-top: 10px;
        margin-bottom: 0px;
        width: 100%;
        height: 40px;
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }
    ion-card{
        border-radius: 10px !important;
        background-color: #0ed478 !important;
    }
    ion-item{
        border-radius: 30px !important;
        background-color: #ffd000 !important;
    }
    .filtro{
        text-align: start !important;
        border-radius: 0px !important;
    }
}
