// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-content {
    background-image: url('../assets/img/bg.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido {
    background-image: url('../assets/img/bg.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}

.miClaseDanger{
    background-color:rgba(252, 29, 0, 0.575);
    button {
    
      margin:auto;text-align:center;display:block; 
      color: white !important; // button text color
      background-color: color($colors, danger, base) !important;
          //button bg color
  }
  
  .alert-title {
    color:rgb(255, 13, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .alert-head {
    color:rgb(255, 255, 255);
    background-color:rgba(46, 7, 1, 0.932);
  }
  
  .alert-message {
    color:rgb(255, 255, 255);
    background-color:rgba(46, 7, 1, 0.932);
  }
  
  .alert-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    border: dotted 7px;
    background-color: rgba(15, 2, 2, 0.747) // bg color of alert content
  }
  .alert-button-group {
    text-align: center;
    background-color: rgba(15, 2, 2, 0.747) // bg color of alert content
  }
  }

  .miClaseAlert{
    background-color:rgba(248, 150, 59, 0.699);
    button {
      color: white !important; // button text color
      background-color: color($colors, secondary, base) !important;
          //button bg color
  }
  
  .alert-title {
    color:rgb(41, 255, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .alert-head {
    color:rgb(190, 255, 13);
    background-color:rgba(47, 224, 255, 0.795);
  }
  
  .alert-message {
    color:rgb(255, 251, 13);
    background-color:rgba(47, 224, 255, 0.795);
  }
  
  .alert-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    border: dotted 7px;
   color: rgb(255, 251, 13);
    background-color: color($colors, dark, base); // bg color of alert content
  }
  .alert-button-group {
    background-color: color($colors, primary, base); // bg color of alert content
  }
  
  }
