page-encuesta-cliente {
    ion-content {
        background-color: #14830a;
        //background: white;
    }
    .submit-btn {
        background: #51CFB1;
        border-radius: 30px;
        border: 1px solid #ffffff;
    }
    ion-item {
        //background: transparent;
        //text-align: center ;
        border-radius: 20px ;
        background-color: #ffd000;
        margin-top: 3px ;
    }
    .list{
        margin-top: 30px ;
    }
    ion-list-header{
        background-color: #ffd000;
        border-radius: 20px ;
        color: black;
    }
}
