page-encuesta-supervisor {
    .content-back{
        background-color: #14830a;
        //background-color: #f0f0f0 !important;
    }
    .submit-btn {
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }
    ion-item {
        //background: transparent!important;
        //text-align: center !important;
        border-radius: 20px ;
        background-color: #ffd000;
        margin-top: 3px !important;
    }
    .list{
        border-radius: 20px ;
        margin-top: 5px !important;
        background-color: #ffd000;
        margin-bottom: 5px;
    }
    ion-list-header{
        background-color: #ffd000;
        //border-radius: 20px ;
        border-color: #ffd000;
        color: black;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .obl{
        color: red !important;
        font-size: 10px;
        margin-bottom: 0px !important;
        margin-top: 2px !important;
        padding-top: 5px !important;
        //border-radius: 20px !important;
    }
}
