page-encuesta-supervisor {
    .content-back{
        background-color: #14830a !important;
        //background-color: #f0f0f0 !important;
    }
    .submit-btn {
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }
    ion-item {
        //background: transparent!important;
        //text-align: center !important;
        border-radius: 20px ;
        background-color: #ffd000 !important;
        margin-top: 3px !important;
    }
    .list{
        border-radius: 20px ;
        margin-top: 10px !important;
        background-color: #ffd000 !important;
    }
    ion-list-header{
        background-color: #ffd000 !important;
        border-radius: 20px ;
        color: black !important;
    }
}
