page-home {

  // ion-content {
  //     background-image: url('/assets/img/welcome.jpg');
  // }

  .transparentBody { background-color: transparent !important; }

}

ion-content {
  background: transparent !important;
  width: 100%;
  height: 100%;
  // display: table;
  text-align: center;
}

.transparentBody { 
  background-color: transparent !important;
  // width: 100%;
  // height: 100%;
  // display: table;
  // text-align: center;
}

.box {
  position: relative;
  // position: absolute;
  width: 220px;
  height: 220px;
  margin: auto;
  background: transparent !important;
  // display: table-cell;
  vertical-align: middle !important;
  z-index:-1;
  border: 2px solid red !important;
  margin-top: 50% !important;
}

.base {
  background: transparent!important;
  height: 100%;
  width: 100%;
}

.contenido {
  vertical-align: middle;
  // position: relative;
   height: 100%;
   z-index: 1;
}

