page-listado-viajes-selec {
    .content-back{
        background: #14830a;
    }
    ion-item {
        //background: transparent!important;
        //text-align: center !important;
        border-radius: 30px ;
        background-color: #ffd000;
        margin-bottom: 0px !important;
    }
    ion-card{
        border-radius: 10px !important;
        background-color: #0ed478;
    }
}
