page-visor-viajes-chofer {
    .visor-viajes-content {
        //background-color: rgba(0, 0, 0, 0.89);
        background-color: #14830a;
        //background: url('../assets/img/bg/4.jpg');
        height: 100%;
        width: 100%;
        color: rgb(255, 255, 255);
        display: block;
        //object-fit: fill;
    }

    .enabled {
        background-color: white;
    }

    .disabled {
        background-color: gray;
    }

    #map {
        border-radius: 15px;
        height: 72%;
        // width: 100%;
        margin-top: 10px;
    }
    ion-card{
        border-radius: 10px ;
        background-color: #0ed478;
    }
    ion-item{
        text-align: center ;
        border-radius: 30px ;
        background-color: #ffd000;
        margin-bottom: 0px ;
    }
    .filtro{
        text-align: start ;
        border-radius: 0px ;
    }
}
