page-visor-viajes-chofer {
    .visor-viajes-content {
        //background-color: rgba(0, 0, 0, 0.89)!important;
        background: url('../assets/img/bg/4.jpg')!important;
        height: 100%!important;
        width: 100%!important;
        color: rgb(255, 255, 255)!important;
        display: block;
        //object-fit: fill;
    }

    .enabled {
        background-color: white;
    }

    .disabled {
        background-color: gray;
    }

    #map {
        border-radius: 15px!important;
        height: 72%;
        // width: 100%;
        margin-top: 10px;
    }
}
