<!--
  Generated template for the DetalleViajeChoferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="contenedor-global">

    
    
      <ion-content>

          <div #map id="map"></div> 

          <ion-card>
              <ion-card-content>
                  <div #directionsPanel></div>
              </ion-card-content>
          </ion-card>
           
          
          <ion-fab left bottom #fab4>
              <button ion-fab color="dark" mini><ion-icon name="help"></ion-icon></button>
              <ion-fab-list side="top">
                <ion-fab #fab4>
                  <button ion-fab mini color="dark"><ion-icon name="document"></ion-icon></button>
                  <ion-fab-list side="right">
                      <button ion-fab (click)="goLinkApidoc()"><ion-icon name="clipboard"></ion-icon></button>
                      <button ion-fab (click)="goLinkCompoDoc()"><ion-icon name="folder-open"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
                <button ion-fab><ion-icon name="clear"></ion-icon></button>
                <button ion-fab (click)="goMostrar()"><ion-icon name="images"></ion-icon></button>
              </ion-fab-list>
            </ion-fab>
      </ion-content>
    
      <ion-footer>
        <ion-navbar color="dark">
          <ion-buttons>
            <button large ion-button color="danger" (click)="closeModal()">Atrás</button>
          </ion-buttons>
          <ion-buttons end>
            <button  large ion-button color="secondary" *ngIf="mostrarBotonRealizarViaje==true" (click)="realizarViaje()">Realizar viaje!</button>
            <button large ion-button color="danger" (click)="cancelarViaje()" *ngIf="mostrarBotonFinalizarViaje==true"  >Cancelar viaje!</button>
            <button large ion-button color="secondary" (click)="finalizarViaje()" *ngIf="mostrarBotonFinalizarViaje==true"  >Finalizar viaje!</button>
          </ion-buttons>

        </ion-navbar>
      </ion-footer>
    
    </div>