page-listado-choferes-disponibles {
    .content-back{
        background: #14830a;
    }
    ion-item {
        //background: transparent;
        //text-align: center ;
        border-radius: 30px ;
        background-color: #ffd000;
        margin-bottom: 0px ;
    }
    ion-card{
        border-radius: 10px ;
        background-color: #0ed478;
    }
}
