<!--
  Generated template for the ListadoChoferesDisponiblesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choferes Disponibles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-back">
  <div *ngFor="let item of listadoChoferes">
  <ion-card padding (click)="asignarViaje(item)"  *ngIf = "item.activo == 1 && (item.estado == 1 || item.estado === undefined)"><!--  && item.estado == 0 -->
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.foto === undefined ? 'assets/img/img-usuario.svg' : item.foto">
        </ion-avatar>
        <h2 class="titulo" style="color: rgb(255, 255, 255);">{{item.nombre}} {{item.apellido}}</h2>
        <p class="titulo" style="color: yellow;">Fecha de nacimiento: {{item.fechaNacimiento}}</p>
      </ion-item>
  
      <!-- <img class="imagen" [src]="item.foto"> -->
  
      <ion-card-content>
        <p>Fecha de alta:
          <b>{{item.fechaAlta}}</b>
        </p>
        <p>Email:
          <b>{{item.correo}}</b>
        </p>
        <p>DNI:
          <b>{{item.dni}}</b>
        </p>
        <p>Sexo:
          <b>{{ item.sexo == 'm' ? 'Masculino' : 'Femenino' }}</b>
        </p>
      </ion-card-content>


  </ion-card>
  </div>
  <button ion-button full color = "primary" (click)= "mostrarListado()">listado</button>
</ion-content>
